## Tugas Besar II IF3170 Inteligensi Buatan
## Heart Disease Classification

#### Kelompok 18 - Nira Model Kami:
- Nira Rizki Ramadhani / 13516018
- Sinaga Yoko Christoffel / 13516052
- Haifa Fadhila Ilma / 13516076
- Nadija Herdwina Putri Soerojo / 13516130
- Muhammad Fadhriga Bestari / 13516154

In [2]:
import pandas as pd
import numpy as np
import graphviz
import pickle
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import itertools
import random
import sklearn.exceptions
import warnings
warnings.filterwarnings("ignore", category=sklearn.exceptions.UndefinedMetricWarning)

from sklearn.datasets import load_iris 
from sklearn.model_selection import train_test_split, KFold
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier 
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix
from sklearn import neighbors, datasets

### Membaca Dataset Heart Disease

In [28]:
train_data = pd.read_csv('tubes2_HeartDisease_train.csv')
train_data

('Missing data percentage in column 11:', 33.63, '%')
('Missing data percentage in column 12:', 65.98, '%')
('Missing data percentage in column 11:', 52.37, '%')

#### Drop Insignificant Columns
Pada data diatas, terdapat *missing values* '?' dan beberapa kolom dengan jumlah *missing values* yang terlalu banyak akan di-drop karena data didalamnya kurang mempengaruhi proses prediksi. Berikut penghitungan persentase missing values di 3 kolom terakhir, didapat persentase yang cukup tinggi pada kolom 11, 12 dan 13:

In [29]:
count = 0

for data in train_data['Column11'] :
    if (data == '?') :
        count += 1
print("Missing data percentage in column 11:",round(float(count)/779*100,2),"%")
count = 0

for data in train_data['Column12'] :
    if (data == '?') :
        count += 1
print("Missing data percentage in column 12:",round(float(count)/779*100,2),"%")
count = 0

for data in train_data['Column13'] :
    if (data == '?') :
        count += 1
print("Missing data percentage in column 11:",round(float(count)/779*100,2),"%")

('Missing data percentage in column 11:', 33.63, '%')
('Missing data percentage in column 12:', 65.98, '%')
('Missing data percentage in column 11:', 52.37, '%')

### Replace Missing Values
Dibawah ini merupakan algoritma untuk mengganti *missing values* dengan modus atau median dari data kolom tersebut. Data yang bersifat *categorical* akan menggunakan modus dan yang berupa angka ukuran menggunakan median.

Selain itu dilakukan pula *dropping* pada kolom yang kurang signifikan. Pada kasus ini dibagi 2, train data X1 dan X2 dimana pada X1 kolom 11 diikutkan pada data (hanya kolom 12 dan 13 yang di-*drop* dan pada X2 kolom 11 juga di-*drop*.

In [36]:
# Replace all missing values to None
train_data.replace({'?' : None, 'None' : None}, inplace=True)

# Replace missing values per column
train_data['Column4'].fillna(value = train_data['Column4'].median(),inplace=True)
train_data['Column5'].fillna(value = train_data['Column5'].median(),inplace=True)
train_data['Column6'].fillna(value = train_data['Column6'].mode()[0],inplace=True)
train_data['Column7'].fillna(value = train_data['Column7'].mode()[0],inplace=True)
train_data['Column8'].fillna(value = train_data['Column8'].median(),inplace=True)
train_data['Column9'].fillna(value = train_data['Column9'].mode()[0],inplace=True)
train_data['Column10'].fillna(value = train_data['Column10'].median(),inplace=True)
train_data['Column11'].fillna(value = train_data['Column11'].mode()[0],inplace=True)
train_data['Column12'].fillna(value = train_data['Column12'].mode()[0],inplace=True)
train_data['Column13'].fillna(value = train_data['Column13'].mode()[0],inplace=True)

train_data_X1 = train_data.drop(["Column14","Column12","Column13"], axis=1)
train_data_X2 = train_data.drop(["Column14","Column12","Column13","Column11"], axis=1)
train_data_y = train_data["Column14"]

print("Hasil replacement (contoh pada tabel X2):")
train_data_X2

Hasil replacement (contoh pada tabel X2):

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10
0,54,1,4,125,216,0,0,140,0,0
1,55,1,4,158,217,0,0,110,1,2.5
2,54,0,3,135,304,1,0,170,0,0
3,48,0,3,120,195,0,0,125,0,0
4,50,1,4,120,0,0,1,156,1,0
5,64,0,4,130,303,0,0,122,0,2
6,63,1,4,130,308,0,0,138,1,2
7,58,1,2,130,251,0,0,110,0,0
8,42,1,2,150,268,0,0,136,0,0
9,54,1,3,120,258,0,2,147,0,4
10,58,1,4,115,0,0,0,138,0,0.5
11,49,1,3,118,149,0,2,126,0,8
12,61,1,1,142,200,1,1,100,0,1.5
13,55,0,2,132,342,0,0,166,0,12
14,60,1,4,132,218,0,1,140,1,1.5
15,67,1,4,130,369,0,0,140,0,1
16,62,1,3,160,0,0,0,72,1,0
17,57,1,4,150,276,0,2,112,1,6
18,43,1,1,120,291,0,1,155,0,0
19,67,1,4,125,254,1,0,163,0,2
20,59,1,4,110,0,0,0,94,0,0
21,45,0,2,112,160,0,0,138,0,0
22,51,1,3,135,160,0,0,150,0,2
23,53,1,4,120,246,0,0,116,1,0
24,51,0,3,120,295,0,2,157,0,6
25,53,1,3,155,175,1,1,160,0,1
26,64,0,4,180,325,0,0,154,1,0
27,52,1,4,108,233,1,0,147,0,1
28,41,1,4,104,0,0,1,111,0,0
29,55,1,4,140,201,0,0,130,1,3
...,...,...,...,...,...,...,...,...,...,...
749,49,0,3,130,207,0,1,135,0,0
750,32,1,2,110,225,0,0,184,0,0
751,57,1,2,154,232,0,2,164,0,0
752,74,1,4,155,310,0,0,112,1,1.5
753,59,1,3,150,212,1,0,157,0,16
754,53,1,4,130,0,0,2,135,1,1
755,35,1,2,122,192,0,0,174,0,0
756,34,0,2,130,161,0,0,190,0,0
757,55,1,3,130,225,0,1,140,0,1
758,54,0,3,110,214,0,0,158,0,16
759,63,1,4,136,0,0,0,84,1,0
760,37,1,3,118,240,0,2,165,0,1
761,56,1,4,150,230,0,1,124,1,15
762,53,1,2,120,0,0,0,95,0,0
763,50,1,3,129,196,0,0,163,0,0
764,54,0,2,120,230,1,0,140,0,0
765,56,1,4,120,0,0,1,100,1,-1
766,58,1,4,125,300,0,2,171,0,0
767,43,1,4,132,247,1,2,143,1,1
768,59,1,4,120,0,0,0,115,0,0
769,72,1,4,160,225,1,2,130,0,1.5
770,52,1,4,160,246,0,1,82,1,4
771,61,1,3,130,284,0,0,140,0,1
772,50,1,4,115,0,0,0,120,1,0.5
773,68,1,3,180,274,1,2,150,1,16
774,62,0,4,140,268,0,2,160,0,36
775,62,1,2,130,0,0,0,140,0,1
776,51,1,1,125,213,0,2,125,1,14
777,60,1,4,130,195,0,0,140,0,1
778,55,1,3,130,245,1,1,140,0,1

### Split Data dengan K-Fold

In [52]:
def k_fold_train(k, model_type, X, y) :
    kf = KFold(k, shuffle=True)
    model = None
    # Container
    accuracies = []
    precisions = []
    recalls = []
    
    if model_type == 'nb' :
        model = GaussianNB()
    elif model_type == 'tree' :
        model = DecisionTreeClassifier()
    elif model_type == 'knn' :
        model = KNeighborsClassifier(n_neighbors=15)
    else :
        model = MLPClassifier(max_iter=1000)
    
    for train_idx, test_idx in kf.split(X) :
        x_train, x_test = X[train_idx], X[test_idx]
        y_train, y_test = y[train_idx], y[test_idx]
        
        model.fit(x_train, y_train)
        
        accuracies.append(accuracy_score(y_test, model.predict(x_test)))
        precisions.append(precision_score(y_test, model.predict(x_test), average = 'macro'))
        recalls.append(recall_score(y_test, model.predict(x_test), average = 'macro'))
        
        avg_accuracies = np.mean(accuracies)
#         avg_precisions = np.mean(precisions)
#         avg_recalls = np.mean(recalls)
        return avg_accuracies

#### Naive Bayes Model
Model naive bayes pada train_data_X1 dan train_data_X2, lalu dihitung rata-rata akurasi keduanya

In [70]:
i = 0
total1 = 0
total2 = 0
count = 10
for i in range(count) :
    avg_accuracy1 = k_fold_train(10, 'nb', train_data_X1.values, train_data_y.values)
    total1 += avg_accuracy1
    avg_accuracy2 = k_fold_train(10, 'nb', train_data_X2.values, train_data_y.values)
    total2 += avg_accuracy2

avg_accuracy1 = total1 / count    
print("Naive bayes average accuracy 1 after 10 tries : ", avg_accuracy1)
avg_accuracy2 = total2 / count    
print("Naive bayes average accuracy 2 after 10 tries : ", avg_accuracy2)

('Naive bayes average accuracy 1 after 10 tries : ', 0.5794871794871794)
('Naive bayes average accuracy 2 after 10 tries : ', 0.5397435897435897)

#### Decision Tree Model
Model decision tree pada train_data_X1 dan train_data_X2, lalu dihitung rata-rata akurasi keduanya

In [61]:
i = 0
total1 = 0
total2 = 0
count = 10
for i in range(count) :
    avg_accuracy1 = k_fold_train(10, 'tree', train_data_X1.values, train_data_y.values)
    total1 += avg_accuracy1
    avg_accuracy2 = k_fold_train(10, 'tree', train_data_X2.values, train_data_y.values)
    total2 += avg_accuracy2

avg_accuracy1 = total1 / count    
print("Decision Tree average accuracy 1 after 10 tries : ", avg_accuracy1)
avg_accuracy2 = total2 / count    
print("Decision Tree average accuracy 2 after 10 tries : ", avg_accuracy2)

('Decision Tree average accuracy 1 after 10 tries : ', 0.48589743589743584)
('Decision Tree average accuracy 2 after 10 tries : ', 0.5076923076923077)

#### K Nearest Neighbors
Model kNN (neighbor: 15) pada train_data_X1 dan train_data_X2, lalu dihitung rata-rata akurasi keduanya

In [60]:
i = 0
total1 = 0
total2 = 0
count = 10
for i in range(count) :
    avg_accuracy1 = k_fold_train(10, 'knn', train_data_X1.values, train_data_y.values)
    total1 += avg_accuracy1
    avg_accuracy2 = k_fold_train(10, 'knn', train_data_X2.values, train_data_y.values)
    total2 += avg_accuracy2

avg_accuracy1 = total1 / count    
print("kNN average accuracy 1 after 10 tries : ", avg_accuracy1)
avg_accuracy2 = total2 / count    
print("kNN average accuracy 2 after 10 tries : ", avg_accuracy2)

('kNN average accuracy 1 after 10 tries : ', 0.4884615384615385)
('kNN average accuracy 2 after 10 tries : ', 0.48589743589743595)

#### Multilayer Perceptron
Model MLP pada train_data_X1 dan train_data_X2, lalu dihitung rata-rata akurasi keduanya

In [53]:
i = 0
total1 = 0
total2 = 0
count = 10
for i in range(count) :
    avg_accuracy1 = k_fold_train(10, 'mlp', train_data_X1.values, train_data_y.values)
    total1 += avg_accuracy1
    avg_accuracy2 = k_fold_train(10, 'mlp', train_data_X2.values, train_data_y.values)
    total2 += avg_accuracy2

avg_accuracy1 = total1 / count    
print("MLP average accuracy 1 after 10 tries : ", avg_accuracy1)
avg_accuracy2 = total2 / count    
print("MLP average accuracy 2 after 10 tries : ", avg_accuracy2)

('Decision Tree average accuracy 1 after 10 tries : ', 0.4782051282051283)
('Decision Tree average accuracy 2 after 10 tries : ', 0.5282051282051281)

#### Model Terbaik:

Berdasarkan perhitungan rata-rata akurasi dari keempat model diatas, didapatkan model ***Naive Bayes*** yang memiliki rata-rata akurasi tertinggi, dan penggunaan data awal dilakukan *dropping* pada kolom 12 dan kolom 13.